body.show-modal .backdrop {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.backdrop {
  left: 0;
  top: 0;
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.852);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.modal {
  min-width: 100px;
  min-height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}
